body{
    font-family: Arial, sans-serif;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: rows;
    width: 100%;
    height: 800px;
    background-color: lightblue;
    
}

.item{
    height: 100px;
    width: 200px;
    background-color: coral;
    border: 1px solid black; 
}

.item-2{
    align-self: flex-end;
}

.item-3{
    align-self: flex-start;
}