body{
    font-family: "Poppins",sans-serif;
}
.box{
    background: darkblue;
    color: white;
    padding: 20px;
    border: 3px solid green;
    margin: 20px; 
}

.box-1{
    width: 200px;
    height: 100px;
    overflow-y:scroll;
}

.box-2{
    width: 50%;
}

.box-2 p{
    width: 50%;
}

.box-3{
    max-width: 800px;
    min-width: 500px;
}

.box-4{
    /* padding: 20px; */
    width: 500px;
    /* padding-top: 20px;
    padding-left:50px;
    padding-bottom: 100px; */

    /* Top right bottom left */
    /* padding: 50px 40px 100px 20px; */

    /* Top-bottom | left-Right */
    padding: 20px 40px;
}

