*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1{
    text-align: center;
    margin: 20px auto;
}


.container{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader{
    position: relative;
    background: #3498db;
    animation: spin 2s linear infinite;
}

.loader::before,
.loader::after{
    content: '';
    position: absolute;
    top: 0;
    left: 35px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #3498db;
    animation: bounce 2s infinite ease-in-out;
}

.loader::after{
    left: -35px;
    background: #e74c3c;
}


@keyframes spin {
    100%{
        transform: rotate(360deg);
    }
}

@keyframes bounce {
    0%,100% {
        transform: translateY(-25%);
    }

    50%{
        transform: translateY(-30px);
    }

}