*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 50px 50px;
}

.box{
    padding: 20px;
    border: 2px solid black;
    margin: 20px 30px 20px 30px;
    width: 600px;
} 

a{
    display: inline-block;
    background-color: lightblue;
    border: 1px solid blue;
    padding: 30px;
    margin: 20px 10px;
    width: 200px;
}