*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* img{
    width: 100%;;
} */

.container{
    max-width: 900px;
    margin: 20px auto;
    padding: 50px;
    border: 1px solid black;
    border-radius: 5px;
}

/* 1 rem is equal to 16px */
p{
    font-size: 1rem;
}