body{
    font-family: Arial, sans-serif;
}

.flex-container{
    display: flex;
    background-color: lightblue;
    width: 100%;
    /* flex-direction: row-reverse; */
}

.flex-items{
    background-color: coral;
    border: 1px solid black;
    padding: 20px;
    /* flex:1 0 200px; */
    flex:1;
    /* width: 200px; */
}

.item-1 , .item-2 {
    /* flex-shrink: 2; */
    /* flex-grow: 1; */
}

.item-3{
    /* flex: 3; */
    /* flex-shrink: 0; */
    /* flex-basis: 200px; */
}

.item-1{
    order:2;
}

.item-2{
    order:1;
}

.item-3{
    order:3;
}
.item-4{
    order:6;
}

.item-5{
    order:5;
}

.item-6{
    order:4;
}