*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}


@media screen and (max-width: 1200px) {
    
    .widescreen{
        background-color: coral;
    }
}

@media (max-width: 992px){
    .normal{
        background-color: lightblue;
    }
}

@media screen and (max-width: 768px){
    .tablet{
        background-color: lightgreen;
    }
    
}

@media screen and (max-width: 576px){
    .mobile{
        background-color: lightcoral;
    }
}

@media (orientation: landscape) {
    .landscape{
        background: lightgoldenrodyellow;
    }
}

@media (max-height: 500px) {
    .height{
        background-color: lightseagreen;
    }
}

@media (min-width:768px) and (max-width: 991px){
    body{
        background-color: lightgray;
    }
}