body{
    font-family: 'Poppins', sans-serif;
}
.box{
    width:800px;
    height:100px;
    background-color: lightblue;
    border: 1px solid black;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box-1{
    position:static;
}

.box-2{
    position:relative;
    left:60px;
}

.box-3{
    position: fixed;
    z-index: 1;
}

.box-4{
    position:sticky
}

.box-5{
    position:relative;
    width: 600px;
    height:600px;
    background: coral;
}

.box-6{
    position:absolute;
    top:35px;
    left:380px;
}