body{
    font-family: "Poppins", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: lightblue;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    padding: 20px;
    gap: 30px;
}

.box{
    height: 200px;
    width: 200px;
    background-color: coral;
    border: 1px solid black;
    text-align: center;
    align-content: center;
    border-radius: 15px;
}

.box1{
    align-self: flex-end;
}

.box2{
    align-self: flex-start;
}

.box3{
    align-self: center;
}

.box4{
    align-self: flex-end;

}